@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e6d5bc;
}

.jetbrains-mono-code {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.jetbrains-mono-paragraph {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

h1 {
  @apply jetbrains-mono-code;
}

p {
  @apply jetbrains-mono-paragraph;
}

body {
  @apply jetbrains-mono-code;
}
